*
{
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #000;
}
body
{
  background: #FFF;
}
#wrapper
{
  margin: 0 10%;
}
#wrapper #header
{
  padding: 10px;
  background: #FFF;
  border: solid #c1c1c1;
  border-width: 0px 2px 2px 2px;
}
#wrapper #menu
{
  /*padding: 10px;*/
  margin: 10px 0px;
  background: #FFF;
  border: 2px solid #c1c1c1;
  height: 35px;
}
#wrapper #menu a
{
  padding: 0 10px;
  display: block;
  line-height: 35px;
  float: left;
  text-decoration: none;
}
#wrapper #menu a:hover
{
  background: #efefef;
}
#wrapper #body
{
  margin: 10px 0px;
  padding: 10px;
  background: #FFF;
  border: 2px solid #c1c1c1;
  overflow: auto;
}

#wrapper #footer
{
  padding: 10px;
}

p, a, td, th, li, pre, blockquote
{
  font-size: 10pt;
}

#wrapper #footer p
{
  text-align: right;
  font-size: 10px;
}
